/* Table of Contents */
/**
 * CH01 - General
 * CH02 - Typography
 * CH03 - Page Structure
 * CH04 - Header & Navigation
 * CH05 - Content & Media
 * CH06 - Footer
 * CH07 - Miscellaneous
**/
/* CH01 - General */
* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: initial; }

/* CH02 - Typography */
@font-face {
  font-family: 'Selawik';
  src: url('selawik.eot'); /* IE9 Compat Modes */
  src: url('selawik.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('selawik.woff') format('woff'), /* Pretty Modern Browsers */
       url('selawik.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SelawikBold';
  src: url('selawikb.eot'); /* IE9 Compat Modes */
  src: url('selawikb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('selawikb.woff') format('woff'), /* Pretty Modern Browsers */
       url('selawikb.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SelawikLight';
  src: url('selawikl.eot'); /* IE9 Compat Modes */
  src: url('selawikl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('selawikl.woff') format('woff'), /* Pretty Modern Browsers */
       url('selawikl.ttf')  format('truetype'), /* Safari, Android, iOS */
}
*{
  font-family: 'Selawik', Arial, sans-serif;
}
.bold{
  font-family:'SelawikBold',Arial, sans-serif;
  font-weight: 700;
}
/* CH03 - Page Structure */
body {
  height: 100%;
  background-color: #ffffff;
  overflow-x:hidden;
  }
.fixed-background{

  background-color:#E4A9CB;
  background-image: url("../img/waves.svg");
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  background-position:center center;
}
section.gradient{
background-color:#f6f6f6;
background-image:url("../img/background.svg");
background-repeat:repeat-y;
background-size:contain;
}
/* Padding Classes */
.p70{
  padding:70px 0;
}

/* CH04 - Header & Navigation */
nav{
background-color:transparent;
}
.navbar-nav li a{
  color:#ffffff;
  text-decoration:none;
  font-size:20px;
}
/* CH05 - Content & Media */
.banner-container{
  text-align:center;
  position: relative;
}
.banner-container img{
  margin: 0 auto;
  height: 300px;
  text-align: center;
}

.tagline{
  text-align:center;
  margin:2em 0;
}
.showcase{
    padding:25px;
  background-color:#f6f6f6;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center bottom;
  -webkit-box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.26);
-moz-box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.26);
box-shadow: 0px 0px 26px 10px rgba(0,0,0,0.26);
}
.wrapper{
  position:relative;
}
.highlight{
  background-color:##ffffff;
  background-image: url("../img/waves1.svg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom center;
  top:0;
min-height:200px;
padding:25px 25px;
margin:15px 0;
  text-align:center;
  position:relative;
    border-radius:15px;
    border:1px solid #9a9a9a;
}
.highlight:hover{
  background-color:#ffffff;
    top:-10px;
  border-radius:15px;
  -webkit-box-shadow: 0px 9px 18px 2px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 9px 18px 2px rgba(0,0,0,0.35);
box-shadow: 0px 9px 18px 2px rgba(0,0,0,0.35);
}
.highlight img{

  height:150px;
}
.showcase p,.about p{
  font-size:1.5em;
}
.header{
  text-align:center;
  padding:10px 0 40px;;
}
.button-wrapper{
  text-align:center;
  margin-top:30px;
}
.highlight-button-wrapper{
  text-align:center;
  margin-top:9em;
}
.learn-more{
  padding: 16px 25px;
  background-color: #E55A81;
  color: white;
  font-size: 20px;
  border-bottom: #C53F69 4px solid;
}
  /* CH06 - Footer */
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.footer ul.social-media{
  list-style-type:none;
  margin:10px 0;
  padding:0;
  overflow:hidden;
}
.footer ul.social-media li{
float:right;
}
.footer ul.social-media li a{
display:block;

}
.footer img{
  height:40px;
}
.footer h3{
  margin-top:10px;
}
.about{
padding:50px 0;
text-align:center;
}
.about .portrait{
  background-color:#ffffff;
  border-radius:500px;
  height:300px;
  width:300px;
  padding:10px;
  margin:0 auto;
}
.about h1, p{
  margin-bottom:40px;
}

/* CH07 - Miscellaneous */

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
      .banner{
        margin-top:0;
      }
    }

    /* Extra Small Devices, Phones */
    @media only screen and (min-width : 480px) {

    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }


/*# sourceMappingURL=css.css.map */
