/* Table of Contents */
/**
 * CH01 - General
 * CH02 - Typography
 * CH03 - Page Structure
 * CH04 - Header & Navigation
 * CH05 - Content & Media
 * CH06 - Footer
 * CH07 - Miscellaneous
**/
/* CH01 - General */
* {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-delay: initial; }

body{
  overflow-x:hidden;
}
/* CH02 - Typography */
@font-face {
  font-family: 'Selawik';
  src: url('selawik.eot'); /* IE9 Compat Modes */
  src: url('selawik.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('selawik.woff') format('woff'), /* Pretty Modern Browsers */
       url('selawik.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SelawikBold';
  src: url('selawikb.eot'); /* IE9 Compat Modes */
  src: url('selawikb.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('selawikb.woff') format('woff'), /* Pretty Modern Browsers */
       url('selawikb.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'SelawikLight';
  src: url('selawikl.eot'); /* IE9 Compat Modes */
  src: url('selawikl.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('selawikl.woff') format('woff'), /* Pretty Modern Browsers */
       url('selawikl.ttf')  format('truetype'), /* Safari, Android, iOS */
}
*{
  font-family: 'Selawik', Arial, sans-serif;
}
.bold{
  font-family:'SelawikBold',Arial, sans-serif;
  font-weight: 700;
}
/* CH03 - Page Structure */
body {
  height: 100%;
  background-color: #ffffff;
  overflow-x:hidden;
  }
.fixed-background{
  background-color:#f6f6f6;
  background-image: url("../img/waves1.svg");
  background-repeat:no-repeat;
  background-size:contain;
  background-attachment:fixed;
  background-position:center bottom;
}
.fixed-pink-background{
  background-color:#f6f6f6;
  background-image: url("../img/waves2.svg");
  background-repeat:no-repeat;
  background-size:auto;

  background-position:center bottom;
}
.wave-background{
  background-color:#f6f6f6;
  background-image: url("../img/waves1.svg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center bottom;
}
section.gradient{
background-color:#f6f6f6;
background-image:url("../img/background.svg");
background-repeat:repeat-y;
background-size:contain;
}
/* Padding Classes */
.p70{
  padding:70px 0;
}
.p30{
  padding:30px 0;
}

/* CH04 - Header & Navigation */
nav{
background-color:#E55A81;
}
nav .active{
border-bottom:2px solid #ededed;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 0;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-nav li a:hover{
  background-color:transparent;
}
.navbar-nav li a:focus{
  background-color:transparent;
}

.navbar-nav li a{
  color:#ffffff;
  text-decoration:none;
  font-size:20px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -60px;
    background-color: #f6f6f6;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-left:15px solid #E55A81;

}
.sidenav-wrapper{

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 85px;
    margin-left: 50px;
    -webkit-animation-name: animateButton;
    animation-name: animateButton;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes animateButton {
0% {opacity: 0;}
100% {opacity: 1;}
}
@keyframes animateButton {
0% {opacity: 0;}
100% {opacity: 1;}
}
.closebtn img{
  height:30px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* CH05 - Content & Media */
.banner-container{
  text-align:center;
  position: relative;
}
.banner-container img{
  margin: 0 auto;
  height: 300px;
  text-align: center;
}

.tagline{
  text-align:center;
  margin:2em 0;
}
.showcase{
    padding: 60px 25px;
  background-color:#f5f5f5;
  background-repeat:no-repeat;
  background-size:cover;
  border:1px solid #ededed;
  background-position:center bottom;

  -webkit-box-shadow:  0px -30px 64px -31px rgba(0,0,0,0.47);
  -moz-box-shadow:  0px -30px 64px -31px rgba(0,0,0,0.47);
  box-shadow:  0px -30px 64px -31px rgba(0,0,0,0.47);

}
.showcase.services{
  border-bottom:40px solid #E55A81;
}
.highlight{
  background-color: #ffffff;
  background-image: url("../img/waves1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  top: 0;
  margin:15px 0;
  position: relative;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}
.highlight-body{
  min-height: 150px;
  padding: 25px 25px;
  margin: 15px 0;
  text-align: center;
}
.highlight-foot{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  height:30px;
  width:100%;
  margin:0;
  padding:0;
  background-color:#E55A81;
}
.highlight:hover{
  background-color:#ffffff;
    top:-10px;
  -webkit-box-shadow: 0px 9px 18px 2px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 9px 18px 2px rgba(0,0,0,0.35);
box-shadow: 0px 9px 18px 2px rgba(0,0,0,0.35);
}
.highlight img{

  height:100px;
}
.services h1,.contact h1{
  font-size:3em;
}
.services p,.contact p{
  font-size:2em;
}
.contact .methods{
  text-align:center;
}
.contact .methods p{
  font-size:1.2em
}
.contact .methods a{
  font-size:1.2em;
  font-weight:bold;
  text-decoration:none;

}
.methods .icon-wrapper{
  height:50px;
}
.method{
  margin:50px 0 10px;
}
.icon-wrapper img{
  height:100%;
}
.service-container .learn-more{
  margin-top:20px;
}
.service-container label{
  font-size:1.5em;
  margin-top:15px;
}
.wrapper{

  background-color:#ffffff;
  background-image: url("../img/waves1.svg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:bottom center;
}
.service-container{
  padding:25px;
  top:0;
min-height:150px;
margin:15px 0;
  text-align:left;
  position:relative;
  border-radius:5px;
    border:1px solid #bfbfbf;
}
.service-bar{
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  position:absolute;
  left:0;
  height:100%;
  width:30px;
  background-color:#E55A81;
}
.service-container .img{
  margin:10px 0;
text-align:center;
}
.service-container img{
  height:100px;
}
.service-container ul li{
  background-image: url('../img/check.svg');
  background-repeat: no-repeat;
  line-height: 24px;
  padding-left: 40px;
  list-style:none;
}
.highlight-rate{
  background-color: #ffffff;
  background-image: url("../img/waves1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  top: 0;
  margin: 15px 0;
  text-align: center;
  position: relative;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}
.highlight-rate-body{
    padding: 25px 25px;
      min-height: 360px;
}
.highlight-rate img{
  margin:15px 0 25px;
  height:100px;
}
.highlight-rate p{
  text-align:left;
  font-size:1.3em;
}
.rate-foot{
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  height:30px;
  width:100%;
  margin:0;
  padding:0;
  background-color:#83C49E;
}
.top-shadow{
  -webkit-box-shadow: inset 2px 30px 64px -31px rgba(0,0,0,0.47);
  -moz-box-shadow: inset 2px 30px 64px -31px rgba(0,0,0,0.47);
  box-shadow: inset 2px 30px 64px -31px rgba(0,0,0,0.47);
}
.showcase p,.about p{
  font-size:1.5em;
}
.header{
  text-align:center;
  padding:60px 0 40px;;
}
.button-wrapper{
  text-align:center;
  margin-top:30px;
}
.highlight-button-wrapper{
  text-align:center;
  margin-top:9em;
}
.learn-more{
  padding: 16px 25px;
  background-color: #E55A81;
  color: white;
  font-size: 20px;
  border-bottom: #C53F69 4px solid;
}
a.learn-more{
  color:white;
  text-decoration:none;
}
  /* CH06 - Footer */
.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.footer ul.social-media{
  list-style-type:none;
  margin:10px 0;
  padding:0;
  overflow:hidden;
}
.footer ul.social-media li{
float:right;
}
.footer ul.social-media li a{
display:block;

}
.footer img{
  height:40px;
}
.footer h5{
  margin-top:10px;
}
.footer a{
  color:#484848;
  text-decoration:none;
}
.about{
padding:50px 0;
text-align:center;
-webkit-box-shadow: inset 2px 30px 64px -31px rgba(0,0,0,0.47);
-moz-box-shadow: inset 2px 30px 64px -31px rgba(0,0,0,0.47);
box-shadow: inset 2px 30px 64px -31px rgba(0,0,0,0.47);
}
.about-body{
  padding:50px 0;
}
.about .portrait{
  background-color:#ffffff;
  border-radius:500px;
  height:150px;
  width:150px;
  padding:10px;
  margin:0 auto;
}
.about h1, .about p{
  margin-bottom:40px;
}


/* CH07 - Miscellaneous */

    /*==========  Mobile First Method  ==========*/

    /* Custom, iPhone Retina */
    @media only screen and (min-width : 320px) {
      .banner{
        margin-top:0;
      }

    }

    /* Extra Small Devices, Phones */
    @media only screen and (max-width : 480px) {
      .showcase{
        padding:30px 0;
      }
      .service-container ul{
        padding:0;
      }
      .services h1{
        font-size:2em;
      }
    }

    /* Small Devices, Tablets */
    @media only screen and (min-width : 768px) {
      .collapse{
          display: block !important;
      }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {

    }

    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {

    }


/*# sourceMappingURL=css.css.map */
