<nav class="navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" ng-click="openNav()"class="navbar-toggle collapsed" ng-init="navCollapsed = true"aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <a draggable="false" ng-click"openNav()">
          <img class="visible-xs"style="height:60px; " id="button-logo"src="img/logosmall000.svg" draggable="false"></a>
      </button>
      <a href="/" draggable="false">
        <img class="hidden-xs"style="height:60px; " id="logo" src="img/logosmall.svg" draggable="false"></a>
    </div>
    <div id="sidenav" class="sidenav">
      <div class="sidenav-background animated slideInRight"></div>
      <div class="sidenav-wrapper">
      <a href="javascript:void(0)" ng-show="buttonVisible ==true" class="closebtn animated" id="closebtn" ng-click="closeNav()"><img src="img/close.svg"></a>
    <a class="visible-xs" href-active="active"ng-click="closeNav()" href="/">Home</a>
      <a ng-click="closeNav()" href-active="active"href="services">Services</a>
      <a ng-click="closeNav()" href-active="active"href="faq">FAQ</a>
      <a ng-click="closeNav()" href-active="active"href="contact">Contact</a>
    </div>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

      <ul class="nav navbar-nav navbar-right hidden-xs">
        <li class="visible-xs"><a href-active="active"ng-click="navCollapsed = true" href="/">Home</a></li>
        <li><a ng-click="navCollapsed = true" href-active="active"href="services">Services</a></li>
        <li><a ng-click="navCollapsed = true" href-active="active"href="faq">FAQ</a></li>
        <li><a ng-click="navCollapsed = true" href-active="active"href="contact">Contact</a></li>

      </ul>
  </div><!-- /.container-fluid -->
</nav>
