<nav class="navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed"aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <a draggable="false">
          <img class="visible-xs"style="height:60px; " src="img/logosmall000.svg" draggable="false"></a>
      </button>
      <a href="#" draggable="false">
        <img class="hidden-xs"style="height:60px; " id="logo" src="img/logosmall.svg" draggable="false"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" uib-collapse="navCollapsed">

      <ul class="nav navbar-nav navbar-right">
        <li class="visible-xs"><a ng-click="navCollapsed = true" ui-sref="home">Home</a></li>
        <li><a ng-click="navCollapsed = true" ui-sref="services">Services</a></li>
        <li><a ng-click="navCollapsed = true" ui-sref="faq">FAQ</a></li>
        <li><a ng-click="navCollapsed = true" ui-sref="contact">Contact</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
